<h1><a href="http://huron.wedding/<%= encodeURIComponent(emoji) %>"><%= emoji %></a></h1>

<p><b>Thank you for your address, <%= partyname || firstname %>!</b></p>

<p>Keep an eye on your mailbox, we'll send an official invite with more details for you soon.</p>

<p>For now, here's an event for your calendar.</p>

<p>
  <i>With Love,</i><br />
  Lee + Ash
</p>
