<h1><a href="http://huron.wedding/"><%= emoji %></a></h1>

<p><b><%= partyname || firstname %>,</b></p>

<p>I hope you ate well, there's more good times ahead.</p>

<p><b>Saturday:</b></p>

<p>The Pool Party starts at the Swim Club Pool (the larger pool at the hotel) at
10am. If you're coming, please show up before noon as the pool opens to the
public and they may not let people in after they reach capacity. We also have
more space to stretch out in and play some games in the Club House. We'll be
serving lunch and if you're still hungry or want a drink the Ace has a poolside menu.</p>

<p>By now you should have you hands on your bag of pool-side necessities. If you
didn't get yours at dinner, we'll have it ready for you in the Club House next
to the pool.</p>

<p><b>Ceremony:</b></p>

<p>Please arrive for our ceremony at The Commune at 6pm Saturday evening.
Dress festive and fun (tie optional). We'll keep it short and sweet so we can
move on to more delicious food and get to the dance floor.</p>

<p><b>Weather:</b></p>

<p>It's cooling down just in time for our day by the pool. Partly sunny with highs
in the 80s during the day, and a low of 60° at night.</p>

<p><b>Photos:</b></p>

<p>We have a hashtag! As you post pictures on Facebook and Instagram this weekend,
please tag them <a href="https://www.instagram.com/explore/tags/hellohurons/">#hellohurons</a> so we can find them all later.</p>

<p>
  <i>With Love,</i><br />
  Lee + Ash
</p>
