<h1><a href="http://huron.wedding/"><%= emoji %></a></h1>

<p><b><%= partyname || firstname %>,</b></p>

<p>That was amazing. Thank you so much for being here with us this weekend, it
means so much to have had you here. We hope you travel home safe.</p>

<p>We will be recovering and getting brunch at King's Highway (in the front of the
hotel) in the morning if you would like to come find us to say goodbye.</p>

<p>So many great pictures are already up on the <a href="https://www.instagram.com/explore/tags/hellohurons/">#hellohurons</a> hashtag. If you took
any great ones and want to share them on Facebook or Instagram, please tag them
so we can find them.</p>

<p>
  <i>With Love,</i><br />
  Lee + Ash
</p>
