<h1><a href="http://huron.wedding/"><%= emoji %></a></h1>

<p><b>Welcome <%= partyname || firstname %>,</b></p>

<p>We're so happy you're here with us.</p>

<p><b>Friday:</b></p>

<p>You have most of the day to yourselves! We recommend settling in with time at
the pool or spa, and some light adventuring. If you need some help, we have a
<a href="http://huron.wedding/#guide">few suggestions at huron.wedding</a>.</p>

<p>Our Formal Feast starts in The Commune at 7pm on Friday evening. You'll find
The Commune next to the smaller pool on the far side of the hotel grounds.
Dress to impress in your formal attire.</p>

<p><b>Weather:</b></p>

<p>Hot and sunny, with highs in the high 90s in the day, and lows just around 70°
at night.</p>

<p><b>Photos:</b></p>

<p>We have a hashtag! As you post pictures on Facebook and Instagram this weekend,
please tag them <a href="https://www.instagram.com/explore/tags/hellohurons/">#hellohurons</a> so we can find them all later.</p>

<p>
  <i>With Love,</i><br />
  Lee + Ash
</p>
