<h1><a href="http://huron.wedding/"><%= emoji %></a></h1>

<p><b><%= partyname || firstname %>,</b></p>

<p>The weekend is only a few days away. We hope you're as excited as we are!</p>

<p><b>Thursday:</b></p>

<p>For those of you arriving early. We'll be here to meet you at the Ace Hotel.
We're having an informal happy hour in The Amigo Room, inside the hotel,
from 5pm until 7 or 8pm. Drop by and have a drink with us!</p>

<p><b>Weather:</b></p>

<p>The weather report looks good. While it's been over 100° in Palm Springs in
the daytime this week, it's going to cool down a little for us on the weekend.
On Thursday: highs above 100° in the day, and lows in the 70s at night.</p>

<p><b>Photos:</b></p>

<p>We have a hashtag! As you post pictures on Facebook and Instagram this weekend,
please tag them <a href="https://www.instagram.com/explore/tags/hellohurons/">#hellohurons</a> so we can find them all later.</p>

<p>
  <i>With Love,</i><br />
  Lee + Ash
</p>
