<html>
<head>
  <% include partials/meta.html.ejs %>
  <link rel="stylesheet" href="/style2.css" />
  <script src="https://use.typekit.net/ohd3igy.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body onload="document.body.setAttribute('class','loaded')">
  <div id="bgImage"></div>
  <script>
    var img = new Image()
    img.src = '/web.jpg'
    img.onload = function () {
      document.getElementById('bgImage').style.backgroundImage = 'url(/web.jpg)';
    }
  </script>

  <div class="main">

    <div class="meat">
      <div class="headline">
        <h1>Lee + Ash</h1>
        <h2>are getting married</h2>
      </div>

      <div class="details">
        <h3>May 5&ndash;7, 2017</h3>
        <h3>Ace Hotel &amp; Swim Club, <br />Palm Springs, California</h3>
      </div>

      <div class="potatoes">
        <hr />
      </div>
    </div>
  </div>

  <nav>
    <div>
      <a href="#">Lee + Ash</a>
      <ul>
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#location">Location</a></li>
        <li><a href="#lodging">Lodging</a></li>
        <li><a href="#guide">Guide</a></li>
        <li><a href="#wear">Wear</a></li>
        <li><a href="#gifts">Gifts</a></li>
      </ul>
    </div>
  </nav>
  <script type="text/javascript">
    var nav = document.getElementsByTagName('nav')[0]
    var pos = nav.offsetTop
    var sticky = false;
    window.addEventListener('resize', function () {
      pos = nav.offsetTop
    })
    window.addEventListener('scroll', function () {
      if (!sticky && window.scrollY > pos) {
        nav.style.position = 'fixed'
        sticky = true
      } else if (sticky && window.scrollY < pos) {
        nav.style.position = ''
        sticky = false
      }
    })
  </script>

  <section id="schedule">
    <div class="header">
      <div class="content">
        <h2>Weekend Schedule</h2>
      </div>
    </div>

    <div class="content">

      <p>All events take place at:</p>

      <h4>The Ace Hotel &amp; Swim Club</h4>

      <p class="meta">701 E. Palm Canyon Dr.<br />
      Palm Springs, CA 92264</p>

      <h3>Thursday May 4th</h3>

      <h4>Early Bird Happy Hour</h4>
      <p class="meta">The Amigo Room</p>
      <p class="meta">5pm - 7pm</p>
      <p class="meta">Optional</p>
      <p>So excited that you're arriving early? We are too! Whether you've spent
      the day traveling or hiking Joshua Tree, we hope you'll enjoy cooling off
      and having a drink with us before the wedding weekend&nbsp;begins.</p>


      <h3>Friday May 5th</h3>

      <h4>Explore Palm Springs</h4>
      <p class="meta">On your own</p>
      <p>Whether you arrived yesterday or just landed with a few hours to spare,
      we really recommend exploring Palm Springs a little. Rent a scooter and
      see local mid-century architecture, ride the tramway over Chino Canyon,
      or visit retro shops along Palm Canyon Drive. We have a whole
      <a href="#guide">travel guide</a> below if you need&nbsp;ideas.</p>

      <h4>Formal Feast</h4>
      <p class="meta">The Commune</p>
      <p class="meta">6pm - 8pm</p>
      <p class="meta">Formal Attire</p>
      <p>Let's kick off the weekend with a feast! We know that usually a fine
      dinner comes after the ceremony, but we're breaking tradition because we
      just couldn't wait to see you all looking&nbsp;sharp.</p>


      <h3>Saturday May 6th</h3>

      <h4>Pool Party</h4>
      <p class="meta">Swim Club Pool</p>
      <p class="meta">10am - 4pm</p>
      <p>Wake up and put on your suit and sunnies. Grab a lounge chair and some
      shade or cannonball on in. We'll bring the tunes. Don't forget to stay
      we'll have drinks and snacks for you, but you can also order more food
      at the poolside&nbsp;patio.</p>

      <h4>Wedding Ceremony</h4>
      <p class="meta">The Commune</p>
      <p class="meta">6:30pm</p>
      <p class="meta">Festive Attire</p>
      <p>Finally, what we're all here for. Join us on the grounds outside The
      Commune as the sun sets behind the San Jacintos and we share&nbsp;vows.</p>

      <h4>Dinner, Drinks, and Dancing</h4>
      <p class="meta">The Commune</p>
      <p class="meta">7pm - 11pm</p>
      <p>Let's celebrate! Grab a drink and some casual food and lets hit the
      dance floor. Don't worry, there will be&nbsp;cake.</p>


      <h3>Sunday May 7th</h3>

      <h4>Farewell Brunch</h4>
      <p class="meta">King's Highway</p>
      <p class="meta">10am - Noon</p>
      <p class="meta">Optional</p>
      <p>We miss you already. Come grab a table, get some coffee and order some
      chilaquiles, pancakes or avocado toast. Don't forget to come find us and
      say&nbsp;goodbye.</p>

    </div>
  </section>

  <section id="location">
    <div class="header">
      <div class="content">
        <h2>Palm Springs, California</h2>
      </div>
    </div>
    <div class="content">

      <p>Lee's love of modern architecture and Ash's love of the desert landscape
      brings us all to one of our favorite vacation spots. We're so excited to share
      it with you. In the Coachella Valley, south of the Mojave Desert and in the
      shadow of the San Jacinto Mountains, Palm Springs is an oasis town
      that charmed the 1930's Hollywood elite and became a hotspot of post-war
      architecture in the 1950's. Beyond the city are some fantastic landscapes
      like Joshua Tree a national park larger than the state of Rhode Island named
      after the tree that inspired Dr. Seuss.</p>

      <h3>Getting There</h3>

      <div class="columns">
        <div>
          <a href="https://www.google.com/maps/dir/PSP/Ace+Hotel+%26+Swim+Club/@33.8156275,-116.54124,14z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x80db1c7c0bfb1c7b:0xdcc20f4d33f42890!2m2!1d-116.5070468!2d33.8303194!1m5!1m1!1s0x80db1b14883839e1:0x9a6d0c4d3dba305c!2m2!1d-116.540414!2d33.800938" target="_blank">
            <div class="map"><iframe frameborder="0" src="https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJexz7C3wc24ARkCj0M00Pwtw&destination=place_id:ChIJ4Tk4iBQb24ARXDC6PU0MbZo&key=AIzaSyAsoTOqJXsA0HGfOTFy6UEqwOqJkphvWpU"></iframe></div>

            <h4>Palm Springs Airport (PSP)</h4>
          </a>
          <p>A 10-minute cab ride from Ace Hotel &amp; Swim Club, the all-outdoor
          Palm Springs Airport is the quickest and easiest way to get to Palm Springs.</p>
        </div>

        <div>
          <a href="https://www.google.com/maps/dir/LAX/Ace+Hotel+%26+Swim+Club/@33.9428199,-118.0346983,9z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x80c2b0d213b24fb5:0x77a87b57698badf1!2m2!1d-118.40853!2d33.9415889!1m5!1m1!1s0x80db1b14883839e1:0x9a6d0c4d3dba305c!2m2!1d-116.540414!2d33.800938" target="_blank">
            <div class="map"><iframe frameborder="0" src="https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJtU-yE9KwwoAR8a2LaVd7qHc&destination=place_id:ChIJ4Tk4iBQb24ARXDC6PU0MbZo&key=AIzaSyAsoTOqJXsA0HGfOTFy6UEqwOqJkphvWpU"></iframe></div>
            <h4>Los Angeles Airport (LAX)</h4>
          </a>
          <p>A 2 to 3 hour drive from Palm Springs, we only recommend flying into
          Los Angeles if you're picking up family or exploring the area before or
          after the weekend.</p>
        </div>
      </div>

      <div class="weather">
      <h3>Weather Report</h3>
      <p>
        Palm Springs has a desert climate. It's hot, dry and reliably sunny in
        the day time, expect highs in the low 90s. At night the temperature drops
        to the mid 60s. It almost never rains in May. Don't forget to pack a
        sweater for the cool evenings or a trip up the tramway.
      </p>
      <a href="https://www.wunderground.com/history/airport/KPSP/2017/5/6/MonthlyCalendar.html?req_city=Palm%20Springs&req_state=CA" target="_blank">
        <div class="weather-glyph">
          <img src="/sunny.png" />
          <span class="high">91&deg;</span>
          <span class="low">63&deg;</span>
        </div>
      </a>
      </div>

    </div>
  </section>

  <section id="lodging">
    <div class="header">
      <div class="content">
        <h2>Stay With Us</h2>
      </div>
    </div>
    <div class="content">

      <h3><a href="http://www.acehotel.com/palmsprings" target="_blank">
        Ace Hotel &amp; Swim Club</a></h3>
      <p class="meta">Booking: 760-325-9900</p>
      <p>Not only are all the events at the Ace Hotel, but so are we. Call the hotel
      and mention our names to get a discounted rate and access reserved rooms.
      Between the bohemian desert architecture, great food, pools and spa, it's
      quite a peaceful and relaxing place to be. We really hope you'll stay with us.</p>

      <div class="ace-photogrid">
        <a href="http://www.acehotel.com/palmsprings" target="_blank">
          <img src="/photos/ace/ace1.jpg" width="170" /></a>
        <a href="http://www.acehotel.com/palmsprings" target="_blank">
          <img src="/photos/ace/ace2.jpg" width="170" /></a>
        <a href="http://www.acehotel.com/palmsprings" target="_blank">
          <img src="/photos/ace/ace3.jpg" width="170" /></a>
        <a href="http://www.acehotel.com/palmsprings" target="_blank">
          <img src="/photos/ace/ace4.jpg" width="170" /></a>
      </div>

      <h3>Alternatives</h3>
      <p>If you prefer to stay elsewhere, there are a number of alternative hotels
      within a short walk of the Ace Hotel.</p>

      <div class="columns">
        <div class="place">
          <a href="http://www.calientetropics.com/" target="_blank">
            <img src="/photos/caliente-tropics.jpg" width="300" />
            <h4>Caliente Tropics Hotel</h4>
          </a>
        </div>

        <div class="place">
          <a href="http://desertrivierahotel.com/" target="_blank">
            <img src="/photos/desert-riviera.jpg" width="300" />
            <h4>Desert Riviera Hotel</h4>
          </a>
        </div>

        <div class="place">
          <a href="https://www.motel6.com/en/motels.ca.palm-springs.9.html" target="_blank">
            <img src="/photos/motel6.jpg" width="300" />
            <h4>Motel 6, Palm Springs East</h4>
          </a>
        </div>
      </div>

    </div>
  </section>

  <section id="guide">
    <div class="header">
      <div class="content">
        <h2>Travel Guide</h2>
      </div>
    </div>
    <div class="content">

      <p>Palm Springs is a fun place to explore. We hope that you get a little
      extra time to find an adventure or something tasty. We've collected a
      few suggestions of our favorite things to eat, see, and do.</p>

      <div class="columns">

        <div>
          <h3>Food &amp; Drink</h3>

          <a class="place" href="" target="_blank">
            <img src="" />
            <h4>King's Highway</h4>
          </a>
          <p>Right in front of Ace Hotel, King's Highway is a former Denny's
          converted into a bohemian roadside diner serving California standards,
          and Stumptown coffee. Great for Breakfast or Lunch, make sure you visit
          at least once while you're here. We'll be here for Sunday brunch.</p>

          <a class="place" href="" target="_blank">
            <img src="" />
            <h4>Cheeky's</h4>
          </a>
          <p>Home to one of the best Eggs Benedict in America, a fried chicken
          sandwich to die for, and for the bacon lovers: a house-cured bacon flight.
          You'll want a nap (preferably pool-side) afterwards. This place is popular
          and they don't take reservations so be prepared to wait.</p>

          <a class="place" href="" target="_blank">
            <img src="" />
            <h4>Lappert's</h4>
          </a>
          <p>This Hawaiian-style ice cream shop is run by the son of the famous
          Lappert's of Kauai. is a perfect excuse to cool down on a hot desert day.
          Try an avocado ice cream, a shave ice, or our favorite: a Dole Whip.
          Seriously, you haven't lived until you've had a Dole Whip.</p>


          <h3>Art &amp; Architecture</h3>

          <a class="place" href="http://www.visitpalmsprings.com/overview/play/palm-springs-windmill-tours/239528" target="_blank">
            <img src="" />
            <h4>Windmill Tours</h4>
          </a>
          <p>Do do do windmills.</p>

        </div>

        <div>
          <h3>Adventure</h3>

          <a class="place" href="" target="_blank">
            <img src="" />
            <h4>Aerial Tramway</h4>
          </a>
          <p>The worlds largest rotating tram car takes you on a 2.5 mile path
          up above 8,500 feet to Mountain Station for a stunning view of the valley
          below, and miles of hiking trails. Pack a sweater, the peak is usually
          about 30 degrees colder than downtown Palm Springs.</p>

          <a class="place" href="" target="_blank">
            <img src="" />
            <h4>Joshua Tree National Park</h4>
          </a>
          <p>More of a drive away.</p>

          <h3>Shopping</h3>

        </div>
      </div>

    </div>
  </section>

  <section id="wear">
    <div class="header">
      <div class="content">
        <h2>What To Wear</h2>
      </div>
    </div>
    <div class="content">

      <h3>Desert Formal Attire</h3>
      <p>For Friday's formal dinner, look sharp. Dress Formal,
      but appropriate for the summer heat. Don't worry too much about colors,
      wear what you look good&nbsp;in.</p>

      <div class="columns">
        <div>
          <img width="485" src="/photos/wear/ladies-formal.jpg" />
          <h4>Ladies</h4>
          <p>
            Ash will tell you what to wear.
          </p>
        </div>

        <div>
          <img width="485" src="/photos/wear/lads-formal.jpg" />
          <h4>Gents</h4>
          <p>
            Wear a suit in whatever color you look best in (it doesn't have
            to be dark). Definitely wear a tie, of course Lee suggests a bow tie.
            If you have one, a cotton or linen suit will be more comfortable than
            wool in the&nbsp;heat.
          </p>
        </div>
      </div>

      <h3>Festive Attire</h3>
      <p>For Saturday's ceremony, look ready to party and show
      off your color and style. Dress cool, it's warm out&nbsp;there.</p>

      <div class="columns">
        <div>
          <img width="485" src="/photos/wear/ladies-festive.jpg" />
          <h4>Ladies</h4>
          <p>
            Ash will tell you what to wear.
          </p>
        </div>

        <div>
          <img width="485" src="/photos/wear/lads-festive.jpg" />
          <h4>Gents</h4>
          <p>
            Have fun and look good. Try a suit in a bright color or a fun patterned
            shirt. Look to your socks or pocket square for complimenting colors and
            patterns. Tie&nbsp;optional.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="gifts">
    <div class="header">
      <div class="content">
        <h2>Gifts &amp; Registry</h2>
      </div>
    </div>
    <div class="content">

      <p>We already have everything for a happy home and don't need anything else,
      but if you're still inclined, help us make some memories by funding our
      honeymoon adventures to Japan and Nordic Europe!</p>

      https://www.zola.com/registry/huronwedding

    </div>
  </section>


  <% include partials/analytics.html.ejs %>
</body>
<html>
