@font-face {
  font-family: 'WeissenhofGrotesk';
  font-weight: normal;
  src: url('webfonts/31D068_1_0.eot');
  src: url('webfonts/31D068_1_0.eot?#iefix') format('embedded-opentype'),
       url('webfonts/31D068_1_0.woff2') format('woff2'),
       url('webfonts/31D068_1_0.woff') format('woff'),
       url('webfonts/31D068_1_0.ttf') format('truetype');
}

@font-face {
  font-family: 'WeissenhofGrotesk';
  font-weight: bold;
  src: url('webfonts/31D068_0_0.eot');
  src: url('webfonts/31D068_0_0.eot?#iefix') format('embedded-opentype'),
       url('webfonts/31D068_0_0.woff2') format('woff2'),
       url('webfonts/31D068_0_0.woff') format('woff'),
       url('webfonts/31D068_0_0.ttf') format('truetype');
}

body {
  min-height: 100%;
  position: relative;
  margin: 0;

  font-family: WeissenhofGrotesk;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#bgImage,
.colorFade {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

#bgImage {
  background: url(/web-lores.jpg) no-repeat right center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: background-image 0.6s ease-in-out;
  transition: background-image 0.6s ease-in-out;
}

.colorFade {
  background-image: linear-gradient( rgba(221,165,210,.5), rgba(246,255,183,.6) );
  mix-blend-mode: multiply;
}

.meat {
  color: white;
  margin: 4em auto;
  width: 300px;
  text-align: center;
}

.meat h1 {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
}

.meat h2 {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 3px;
  margin: 0;
  text-transform: uppercase;
}

.meat h3 {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 3px;
  margin: 2.1em 0;
  line-height: 2;
  text-transform: uppercase;
}

.meat hr {
  background: url(/horz-rule.svg) no-repeat center;
  border: 0;
  height: 15px;
  margin: 2.5em 0;
  opacity: 0.85;
}

.meat p {
  font-size: 17px;
  line-height: 27px;
}

.potatoes {
  min-height: 410px;
}

form label {
  color: #444;
  font-family: "ff-spinoza-web-pro";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  margin: 1em 0;
}

form textarea {
  color: #444;
  box-sizing: border-box;
  display: block;
  font-family: "ff-spinoza-web-pro";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0.5em 0;
  padding: 0.5em;
  width: 100%;
}

form input[type="text"],
form input[type="tel"],
form input[type="submit"],
form input + label {
  -webkit-appearance: none;
  background: transparent;
  border: solid 1px rgba(255,255,255,0.65);
  box-sizing: border-box;
  color: #444;
  display: block;
  font-family: WeissenhofGrotesk;
  font-size: 20px;
  line-height: 1.4;
  margin: 5px 0;
  padding: 12px 16px 10px;
  text-align: center;
  transition: background 0.3s, color 0.3s;
  width: 100%;
}

form input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.75);
}

form input::-moz-placeholder {
  color: rgba(255,255,255,0.75);
}

form input:-ms-input-placeholder {
  color: rgba(255,255,255,0.75);
}

form input:-moz-placeholder {
  color: rgba(255,255,255,0.75);
}

form input::placeholder {
  color: rgba(255,255,255,0.75);
}

form input:focus {
  outline: none;
  border-color: rgba(255,255,255,0.8);
  background: rgba(74,63,100,0.15);
}

form input:invalid:focus {
  background: rgba(74,63,100,0.25);
}

form input.half-l {
  margin-right: 5px;
  width: calc(50% - 5px);
}

form input.half-r {
  margin-left: 5px;
  width: calc(50% - 5px);
}

form button {
  font-family: WeissenhofGrotesk;
  text-align: center;
  color: white;
  background: rgba(255,255,255,0.05);
  border: solid 1px rgba(255,255,255,0.65);
  border-radius: 8px;
  padding: 12px 16px 10px;
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0;
  display: block;
  float: left;
  -webkit-appearance: none;
  background: white;
  color: #FF7625;
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

/* loading animations */

.headline, .details, .potatoes {
  opacity: 0;
}

body.loaded .headline {
  -webkit-animation: let-em-know 1.2s ease-in-out;
  -moz-animation: let-em-know 1.2s ease-in-out;
  animation: let-em-know 1.2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

body.loaded .details {
  -webkit-animation: give-em-deets 0.5s ease-in-out 0.5s;
  -moz-animation: give-em-deets 0.5s ease-in-out 0.5s;
  animation: give-em-deets 0.5s ease-in-out 0.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

body.loaded .potatoes {
  -webkit-animation: serve-up-grub 0.6s ease-in-out 1.25s;
  -moz-animation: serve-up-grub 0.6s ease-in-out 1.25s;
  animation: serve-up-grub 0.6s ease-in-out 1.25s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes let-em-know {
  from {
    opacity: 0;
    transform: translate(0, 30px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes give-em-deets {
  from {
    opacity: 0;
    transform: translate(0, 8px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes serve-up-grub {
  from {
    opacity: 0;
    transform: translate(0, 8px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
