body {
  margin-bottom: 30vh;
  display: block;
}

.main {
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
}

nav {
  width: 100%;
  background: white;
  padding: 16px 0 14px;
  height: 50px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  box-shadow:
    0 2px 4px rgba(0,0,0,0.15),
    0 1px 0 rgba(0,0,0,0.08);
  top: 0;
}

nav:after {
  content: '';
  display: block;
  clear: both;
}

nav > div {
  margin: 0 auto;
  max-width: 960px;
}

nav > div > a {
  color: #444;
  line-height: 20px;
  margin: 0 0 0 -20px;
}

nav ul {
  float: right;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav a {
  font-family: WeissenhofGrotesk;
  font-size: 14px;
  font-weight: inherit;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #777;
  text-decoration: none;
  cursor: pointer;
  padding: 14px 20px;
}

nav a:hover {
  color: #DCA497;
}

@media (max-width: 960px) {
  nav {
    padding: 0;
    height: 44px;
  }

  nav > div > a {
    display: none;
  }

  nav ul {
    margin: 0;
    justify-content: space-around;
    float: none;
  }

  nav li {
    flex-grow: 1;
  }

  nav a {
    display: block;
    font-size: 11px;
    line-height: 1;
    padding: 17px 0 16px;
    text-align: center;
  }
}


section {
  width: 100%;
  background: white;
  min-height: 100vh;
  padding-bottom: 3em;
}

section .header {
  height: 60vh;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background: #444;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section .header:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient( 135deg, rgba(114,138,182,.5), rgba(220,164,151,.65) );
}

@media (min-width: 961px) {
  section .header,
  section .header::before {
    background-attachment: fixed;
  }
}

.content {
  width: 960px;
  margin: 0 auto;
  padding: 2em 0 1em;
  position: relative;
}

@media (max-width: 960px) {
  .content {
    width: auto;
    margin: 0 20px;
  }
}

.content h2 {
  font-family: "ff-spinoza-web-pro";
  font-weight: 700;
  font-size: 42px;
  line-height: 48px;
}


.content h3,
.content h3 a,
.content h3 a:hover {
  /* bold weissenhoff */
  font-family: WeissenhofGrotesk;
  font-weight: bold;
  font-size: 19px;
  line-height: 1.3;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #444;
}

.content h3 {
  margin: 4em 0 1em;

  display: inline-block;
  padding-bottom: 2px;
  border-width: 0 0 2px 0;
  border-style: solid;
  -webkit-border-image:
    -webkit-gradient(linear, 100% 0, 0 0, from(#728AB6), to(#DCA497)) 0 0 100%;
  -webkit-border-image:
    -webkit-linear-gradient(right, #728AB6, #DCA497) 0 0 100%;
  -moz-border-image:
    -moz-linear-gradient(right, #728AB6, #DCA497) 0 0 100%;
  -o-border-image:
    -o-linear-gradient(right, #728AB6, #DCA497) 0 0 100%;
  border-image:
    linear-gradient(to right, #728AB6, #DCA497) 0 0 100%;
}

.content h4 {
  font-family: "ff-spinoza-web-pro";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: #444;
  margin: 1em 0;
}

.content p {
  font-family: "ff-spinoza-web-pro";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #444;
  max-width: 600px;
}

.content .meta {
  /* regular weissenhof */
  font-family: WeissenhofGrotesk;
  font-size: 14px;
  font-weight: inherit;
  line-height: 1.7;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #777;
  margin: 0;
}

.content a {
  color: #728AB6;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

.place {
  display: block;
  position: relative;
  margin: 1em -10px;
  overflow: hidden;
}

.place img {
  width: 100%;
  min-height: 80px;
  background: #444;

  -moz-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.place:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.place h4 {
  /*margin-top: 1em;*/
  position: absolute;
  margin: 0;
  bottom: 7px;
  left: 10px;

  color: white;
  text-shadow: 0 0 2px rgba(0,0,0,0.25);
}

/* mobile screen sizes */
@media (max-width: 960px) {
  .content h3 {
    font-size: 16px;
  }

  .content h4,
  .content p {
    font-size: 18px;
  }

  .content .meta {
    font-size: 12px;
  }

  .ace-photogrid {
    margin: 0 -10px;
  }

  .ace-photogrid img {
    display: block;
    float: left;
    width: 50%;
  }

  .ace-photogrid:after {
    content: '';
    clear: both;
    display: block;
  }
}

/* desktop screen sizes */
@media (min-width: 961px) {
  .columns {
    display: flex;
  }
  .columns > div {
    flex: 1;
    margin-right: 30px;
  }

  .columns div:last-child {
    float: right;
    margin-right: 0;
  }

  #lodging > .content {
    padding-top: 210px;
  }

  .ace-photogrid {
    left: -20px;
    pointer-events: none;
    position: absolute;
    right: -10px;
    top: 40px;
  }

  .ace-photogrid img {
    display: block;
    width: 310px;

    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

  .ace-photogrid a {
    display: block;
    float: right;
    margin: 10px;
    overflow: hidden;
    pointer-events: auto;
    width: 310px;
  }

  .ace-photogrid a:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .ace-photogrid:after {
    content: '';
    clear: both;
    display: block;
  }
}

section .header .content h2,
section .header .content p {
  color: white;
  text-shadow: 0 1px 3px rgba(0,0,0,0.15);
}

#wear img {
  margin: 0 -10px;
}

@media (max-width: 960px) {
  #wear img {
    width: 100%;
    width: calc(100% + 20px);
    max-width: 485px;
  }
}

#schedule .header {
  background-image: url(/photos/schedule.jpg);
}

#location .header {
  background-image: url(/photos/location.jpg);
}

#lodging .header {
  background-image: url(/photos/lodging.jpg);
}

#guide .header {
  background-image: url(/photos/guide.jpg);
}

#gifts .header {
  background-image: url(/photos/gifts.jpg);
}
